/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  background-image: var(--gradient-color);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: 100px 0;
}

.header {
  inline-size: var(--section-inline-size);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  outline: 2px solid var(--main-color);
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  margin-block-end: 98px;
}

.header-logo {
  font-family: var(--accent-font), fantasy;
  font-size: var(--logo-size);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  inline-size: var(--section-inline-size);
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
}

.card-title {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-variation-settings: "wght" var(--main-font-weight-heading);
  font-size: 18px;
  line-height: 122%;
  color: var(--main-color);
  padding: 4px 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 25px 25px 25px 25px;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 410;
  font-size: 18px;
  line-height: 117%;
  color: var(--main-color);
}

.card-image-wrapper {
  position: relative;
  outline: 2px solid var(--main-color);
}

.card-label-text {
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--main-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color),
    1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
}

@supports (
  (text-stroke: 1px var(--text-shadow-color)) or
    (-webkit-text-stroke: 1px var(--text-shadow-color))
) {
  .card-label-text {
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
    text-shadow: none;
  }
}

.card-image {
  inline-size: 100%;
  display: block;
  object-fit: cover;
}

.image-brightness-contrast {
  filter: brightness(90%) contrast(120%);
  background-color: #fff;
}

.image-brightness {
  background-color: gray;
  filter: brightness(90%);
}

.image-sepia-hue-rotate {
  background-color: #fff;
  filter: sepia(10%) hue-rotate(260deg);
}

.image-hue-rotate-opacity {
  background-color: gray;
  filter: hue-rotate(90deg) opacity(0.8);
}

.image-brightness-saturate-contrast {
  filter: brightness(110%) saturate(110%) contrast(180%);
  background-color: gray;
}

.image-brightness-contrast-light {
  background-color: burlywood;
  filter: brightness(80%) contrast(140%);
}

.image-grayscale {
  background-color: lightgray;
  filter: grayscale(80%);
}

.image-contrast-brightness-hard {
  background-color: peru;
  filter: contrast(150%) brightness(150%);
}

.buttons {
  display: flex;
  gap: 6px;
  align-items: center;
  align-self: flex-end;
}

.button {
  cursor: pointer;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  color: var(--bg-color);
  text-transform: inherit;
  transition: box-shadow 0.3s ease;
  position: relative;
  padding: 9px 0 7px;
  flex-grow: 1;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0);
  color: var(--main-color);
  position: absolute;
  inset: 0;
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
  background-color: var(--main-color);
}

.button .button__text {
  mix-blend-mode: difference;
}

.button .button-save-icon {
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scale(1);
}

.card__icon-button {
  background-color: var(--bg-color);
  cursor: pointer;
  padding: 0;
  border: none;
  align-self: center;
  transition: outline 0.3s ease;
  outline: 2px solid rgba(0 0 0 / 0);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid rgba(0 0 0 / 1);
}

.like-icon {
  display: block;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--card-icon-animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--card-icon-animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--card-icon-animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--card-icon-animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--card-icon-animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: animation-sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  animation: animation-size 0.3s 0.1s ease-in;
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 39px;
  padding: 0;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
}

.button-save {
  inline-size: fit-content;
  align-self: center;
  display: flex;
  align-items: center;
  padding: 16px 18px;
  gap: 8px;
}

.button-save-icon {
  inline-size: clamp(21px, calc(28px - (7 * (100vw - 375px) / 1065)), 28px);
  block-size: clamp(21px, calc(28px - (7 * (100vw - 375px) / 1065)), 28px);
}

.dialog[open] {
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  display: grid;
  row-gap: 26px;
  column-gap: 20px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog-icon {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.dialog-text {
  line-height: 150%;
  font-family: var(--accent-font), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
}

.form-dialog-close {
  grid-column: 1 / span 2;
  display: flex;
}

@media (width <= 375px) {
  .header {
    margin-block-end: 100px;
  }

  .button-save {
    flex-direction: column;
    padding: 17px 20px;
  }

  .dialog[open] {
    padding: 30px 40px;
  }
}
