/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --main-font-weight-heading: 715;
  --main-font-weight-text: 410;
  --main-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --section-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --text-shadow-color: #fff;
  --main-color: #000;
  --bg-color: #fff;
  --gradient-color: repeating-linear-gradient(
      #d3d3d3 0px 2px,
      rgba(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      rgba(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --card-icon-contour-color: #000;
  --card-icon-animation-fill-color: red;
}
